.maintitle {
  display: flex;
  margin: auto;
  width: 50%;
  padding: 10px;
}

.buttonSubmit {
  border: none;
  color: rgb(255, 255, 255);
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  background-color: rgb(4, 85, 4);
  display: inline-block;
  font-size: 16px;
  margin: 2px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

input[type='text'] {
  width: 29%;
  align-items: center;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  display: flex;
}

.player-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 2rem;
  
  
}

.player {
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
}

