.Home {
  margin-top: 5rem;
  text-align: center;
}
body {
  background-image: url('Harambe.png');
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  display:flex; 
  flex-direction:column;  
}

h3 {
  font-size: large;
}

h1 {
  max-width: min(600px, 100%);
  margin: 0 auto;
  margin-top: 1rem;
  text-align: center;
  font-family: 'Indie Flower', cursive;
}

footer {
  height: 10px;
  flex-shrink: 0;
  text-align: center;
  left: 0;
  bottom: 0;
  width: 100%;
  position: bottom;
  background-color:   #6f6f72;
  font-size: large;
  padding: 2%;
  border-radius: 5px;
  opacity: 0.7;
  margin-top:auto; 


}


img {
  height: 150px;
  width: 150px;
  /* vill flytta loggan till längst åt vänster i hörnet */
}

.Player {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-top: 2rem;
  color: #ffffff;
  background-color:   #6f6f72;
  font-size: large;
  padding: 2%;
  border-radius: 25px;
  opacity: 0.8;
}

.Players {
  max-width: min(600px, 100%);
  margin: 0 auto;
  margin-top: 2rem;
}
.Playersstart {
  max-width: min(600px, 100%);
  margin: 0 auto;
  margin-top: 2rem;
  justify-content: center;
}
input {
  margin: 2rem;
  border: none;
  border-bottom: solid 1px black;
  font-size: larger;
  padding-right: 5rem;
}

/* CSS */
.button {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

.button:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

.button:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}
a {
  align-items: center;
  appearance: none;
  background-color: #FCFCFD;
  border-radius: 4px;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395A;
  cursor: pointer;
  display: inline-flex;
  font-family: "JetBrains Mono", monospace;
  height: 48px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow .15s, transform .15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 18px;
}

a:focus {
  box-shadow: #D6D6E7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
}

a:hover {
  box-shadow: rgba(45, 35, 66, 0.4) 0 4px 8px, rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #D6D6E7 0 -3px 0 inset;
  transform: translateY(-2px);
}

a:active {
  box-shadow: #D6D6E7 0 3px 7px inset;
  transform: translateY(2px);
}